*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    text-align: center;
    background-color: rgb(70, 130, 70);
    color: rgb(16, 14, 14);
    font-family: Georgia, 'Times New Roman', Times, serif;
}





.button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.add-button{
    width: 70px;
    margin: 10px;
    padding: 5px;
    border: none;
    background-color: rgb(71, 67, 67);
    color: rgb(226, 221, 221);
    font-weight: bold;
    font-size: 1.6em;
    cursor: pointer;
    transition: 1s;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}


#to-do{
    height: 40px;
    width: 50%;
}

h1{
    border: .5px solid black;
    width: 50%;
    margin-inline: 25%;
    padding: 5px;
}

.div1, .div2{
    margin-top: 15px;
    justify-content: center;
    background-color: rgb(248, 248, 250);
    width: 50%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 20px;
    height: fit-content;
}


#error1, #error2{
    color: rgb(122, 44, 44);
    font-weight: bold;
    font-size: 1.3em;
}

#list{
    list-style: none;
    font-size: 1.4em;
    width: 100%;
    text-align: left;
    padding-inline: 20px;
}

.container{
    width: 90%;
    margin-inline: 5%;
}

#list li{
    word-wrap: break-word;
    margin-top: 15px;
    border: 1px solid black;
    padding-inline: 10px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    position: relative;
    width: 80%;
    margin-inline: 10%;
}

.button{
    background-color: brown;
}

.done{
    background-color: green;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10%;
    width: 10%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    transition: .5s;
    /* border-top-right-radius: 15px;
    border-bottom-right-radius: 15px; */
}

.done:hover{
    background-color: rgba(0,128,0,.7);    
}

.delete{
    background-color: rgb(127, 31, 31);
    color: white;
    cursor: pointer;
    width: 10%;
    /* border-top-left-radius: 15px;
    border-bottom-left-radius: 15px; */
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

.paragraph{
    width: 75%
}



@media (min-width: 1024px){
    .container{
        display: flex;
        flex-direction: row;
        width: 90%;
        gap: 10px;
        margin-inline: 5%;
    }
}



.div1, .div2{
    width: 100%;
}