*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    text-align: center;
    background-color: #a3b18a;
    color: #1d2c20;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.btn{
    width: fit-content;
    margin-left: 10px;
    padding: 6px;
    border: 2px solid #1d2c20;
    background-color: #a3b18a;
    color: #1d2c20;
    font-weight: bold;
    font-size: 1.5em;
    cursor: pointer;
    transition: 1s;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}





#to-do, #note-title{
    height: 40px;
    width: 50%;
}


h1{
    border: 1.5px solid #1d2c20;
    width: 50%;
    margin-inline: 25%;
    padding: 5px;
    color: #1d2c20;
    font-size: 1.7em;
    background-color: #a3b18a;

}

.div1, .div2{
    margin-top: 100px;
    margin-bottom: 15px;
    justify-content: center;
    background-color: #3a5a40;
    width: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 20px;
    height: fit-content;
    border: 2px solid #1d2c20;
    overflow: hidden;
}

h2{
    text-decoration: underline;
    font-size: 1.6em;

}

textarea{
    resize: none;
    width: 80%;
    height: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.notes-panel{
    position: relative;
}

.add-note{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#error1, #title-error, #note-error, #error-name{
    color: rgb(27, 4, 4);
    font-weight: bold;
    font-size: 1.3em;
}

#list{
    list-style: none;
    font-size: 1.4em;
    width: 100%;
    text-align: left;
    padding-inline: 20px;
    
}

.container{
    max-width: 90%;
    margin-inline: 5%;
}

.name-input{
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.greeting{
    font-size: 1.7em;
    padding: 10px;
    border: 2px solid #1d2c20;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width: fit-content;
    margin-inline: auto;
}

#list li{
    word-wrap: break-word;
    margin-top: 15px;
    border: 1px solid #1d2c20;
    padding-inline: 10px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    position: relative;
    width: 100%;
    background-color: #a3b18a;
    font-size: 1.2em;
}


.done{
    background-color: #606c38;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10%;
    width: 10%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    transition: .5s;
    /* border-top-right-radius: 15px;
    border-bottom-right-radius: 15px; */
}

.done:hover{
    background-color: rgba(0,128,0,.7);    
}

.delete{
    background-color: #9b2226;
    color: white;
    cursor: pointer;
    width: 10%;
    /* border-top-left-radius: 15px;
    border-bottom-left-radius: 15px; */
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

.delete-note{
    background-color: #9b2226;
    color: white;
    cursor: pointer;
    width: 15%;
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom-right-radius: 15px;
}

.div-note{
    border: 2px solid #1d2c20;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 15px;
    position: relative;
    text-align: left;
    word-wrap: break-word;
    margin-bottom: 20px;
    background-color: #a3b18a;
    margin-top: 10px;
}

.todo-paragraph{
    font-size: 1em;
    width: 75%;
}

.note-paragraph{
    width: 85%;
    font-size: 1.4em;
}

#surname{
    margin-block: 10px;
}

.date{
    font-size: 1.4em;
    font-family: 'Courier New', Courier, monospace;
}

#prev, #next{
    cursor: pointer;
}

.menu{
    display: flex;
    justify-content: center;
}

.calendar ul{
    display: flex;
    list-style: none;
    width: 100%;
    padding: 0px;
    font-size: 1.3em;
}

.calendar ul li{
    width: calc(100% / 7);
}


@media (min-width: 1024px){
    .container{
        display: flex;
        flex-direction: row;
        width: 70%;
        gap: 10px;
        margin-inline: 15%;
    }
}




