*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    text-align: center;
    background-color: #d6ccc2;
    color: rgb(16, 14, 14);
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.btn{
    width: 70px;
    margin-left: 10px;
    padding: 5px;
    border: 2px solid #22223b;
    background-color: #9a8c98;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.5em;
    cursor: pointer;
    transition: 1s;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}


#to-do, #note-title{
    height: 40px;
    width: 50%;
}


h1{
    border: .5px solid black;
    width: 50%;
    margin-inline: 25%;
    padding: 5px;
    color: #22223b;
    font-size: 1.7em;
}

.div1, .div2{
    margin-top: 15px;
    margin-bottom: 15px;
    justify-content: center;
    background-color: rgb(248, 248, 250);
    width: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 20px;
    height: fit-content;
    border: 2px solid #22223b;
    overflow: hidden;
}

h2{
    text-decoration: underline;
    font-size: 1.6em;

}

textarea{
    resize: none;
    width: 80%;
    height: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.notes-panel{
    position: relative;
}

.add-note{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#error1, #title-error, #note-error, #error-name{
    color: rgb(122, 44, 44);
    font-weight: bold;
    font-size: 1.3em;
}

#list{
    list-style: none;
    font-size: 1.4em;
    width: 100%;
    text-align: left;
    padding-inline: 20px;
}

.container{
    max-width: 90%;
    margin-inline: 5%;
}

.name-input{
    font-size: 1.5em;
}

.greeting{
    font-size: 1.7em;
    padding: 10px;
    border: 2px solid #22223b;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width: fit-content;
    margin-inline: auto;
}

#list li{
    word-wrap: break-word;
    margin-top: 15px;
    border: 1px solid black;
    padding-inline: 10px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    position: relative;
    width: 100%;
}

.button{
    background-color: brown;
}

.done{
    background-color: #606c38;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10%;
    width: 10%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    transition: .5s;
    /* border-top-right-radius: 15px;
    border-bottom-right-radius: 15px; */
}

.done:hover{
    background-color: rgba(0,128,0,.7);    
}

.delete{
    background-color: #9b2226;
    color: white;
    cursor: pointer;
    width: 10%;
    /* border-top-left-radius: 15px;
    border-bottom-left-radius: 15px; */
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

.delete-note{
    background-color: #9b2226;
    color: white;
    cursor: pointer;
    width: 15%;
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom-right-radius: 15px;
}

.div-note{
    border: 1px solid black;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 15px;
    position: relative;
    text-align: left;
    word-wrap: break-word;
    margin-bottom: 20px;
}

.todo-paragraph{
    font-size: 1em;
    width: 75%;
}

.note-paragraph{
    width: 85%;
    font-size: 1.4em;
}



@media (min-width: 1024px){
    .container{
        display: flex;
        flex-direction: row;
        width: 90%;
        gap: 10px;
        margin-inline: 5%;
    }
}




